body {
  margin: 0;
  padding-top: 0;
  font-family: sans-serif;
}

h1, h3, h4{
	margin-top:50px;
	margin-bottom:30px;
}



#category, #sort{
	margin-left:10px;
}

.form-inline .form-group{
	margin:10px;
}

.item-container{
	margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6d4d4;
}

.item-container h2{
	font-size: 27px;
}

.item-author{
	margin: 5px 0px 15px;
    color: #717171;
    font-size: 16px;
}

.item-text{
	font-size: 16px;
    font-family: arial;
}

.item-footnote{
	padding: 10px;
    color: #717171;
    font-size: 16px;
    display: inline-block;
    height: 40px;
}

#new-post, #new-comment{
	float:right;
}

#new-post-form-container, #new-comment-form-container{
	margin-top:30px;
}

#new-post-form-container h3, #new-comment-form-container h3{
	font-size: 22px;
}

#new-post-form-container button, #new-comment-form-container button{
	margin-right: 10px;
}

button{
	margin-right:10px;
}